<!-- Start your project here-->

<div class="container mt-5 card border  p-0 " ng-init="vm.init();">
    <title>Lab Report- {{vm.title}}</title>


    <form name="" class="form-group">
        <!--PERSONAL INFO-->
        <h5 class="text-center p-0 m-0"><a>Create User</a></h5>

        <div class="row">


            <div class="col-md-6">
                <div class="md-form">
                    <i class="fas fa-user prefix"></i>
                    <input type="text" id="inputIconEx1" class="form-control" ng-model="vm.firstname" required>
                    <label for="inputIconEx1" class="active"> First Name</label>
                </div>

                <div class="md-form">
                    <i class="fas fa-user prefix"></i>
                    <input type="text" id="inputIconEx2" class="form-control" ng-model="vm.lastname">
                    <label for="inputIconEx2" class="active"> Last Name </label>
                </div>
            </div>

            <div class="col-md-6">

                <div class="md-form">
                    <i class="fas fa-phone prefix"></i>
                    <input type="number" id="inputIconEx3" class="form-control" ng-model="vm.mobile" required>
                    <label for="inputIconEx3" class="active"> Mobile No </label>
                </div>
                <div class="md-form">
                    <i class="fas fa-envelope prefix"></i>
                    <input type="email" id="inputIconEx4" class="form-control" ng-model="vm.emailAddress">
                    <label for="inputIconEx4" class="active"> Email </label>
                </div>
            </div>
        </div>

        <!--LOGIN INFO-->
        <div class="row">
            <div class="col-md-6">
                <!-- Default unchecked -->
                <div ng-repeat="role in vm.roles" class="custom-control custom-checkbox custom-control-inline offset-1">
                        <input class="custom-control-input" type="checkbox" id="role_{{role.name}}"
                            ng-click="vm.toggleRoleSelection(role)" ng-checked="role.checked">
                        <label class="custom-control-label" for="role_{{role.name}}">
                            {{role.name}}
                        </label>
                </div>
                <!-- <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="defaultUnchecked">
                    <label class="custom-control-label" for="defaultUnchecked">Default unchecked</label>
                </div> -->

            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                
                <div class="md-form">
                    <i class="fas fa-user prefix"></i>
                    <input type="text" id="inputIconEx5" class="form-control" ng-model="vm.username" ng-change="vm.checkUser()">
                    <label for="inputIconEx5" class="active"> Username </label>
                </div>
            </div>

            <div class="col-md-6">
                <!-- <label>Doctor Id = {{referer.refid}}</label>

  <select class="browser-default custom-select" ng-options="I.referer for I in  vm.refererList "
 ng-model="referer"  required >
 <option selected>Choose One Doctor</option>
</select> -->

<div class="md-form">
<i class="fas fa-key prefix"></i>
<input type="password" id="inputIconEx6" class="form-control" ng-model="vm.password">
<label for="inputIconEx6" class="active"> Password </label>
</div>
<div class="md-form">
<i class="fas fa-key prefix"></i>
<input type="password" id="inputIconEx7" class="form-control" ng-model="vm.confirmPassword">
<label for="inputIconEx7" class="active"> Confirm Password </label>
</div>
</div>
        </div>
         

        <div class="row">
            <div class="col-md-2 offset-2">
                <button type="button" class="btn  btn-sm btn-primary" ng-click="vm.createOrUpdateUser();">
                    <i class="fas fa-message"></i>
                    Submit</button>
                               </div>
        <div class="col-md-2">
            <input type="reset" class="btn btn-link" value="Cancel" ng-click="vm.reset()" />
        </div>
        </div>

    </form>


   


</div>


<div class="modal-body" style="padding:0px" ng-show="vm.notification.message">
    <div class="alert alert-{{vm.notification.mode}}">
        <button type="button" class="close" data-ng-click="close()">
            <span class="glyphicon glyphicon-remove" style="font-size: small;"></span>
        </button>
        <div ng-bind="vm.notification.message"></div>
    </div>
</div>

<!-- End your project here-->