<p>
    Kleptomania (klep-toe-MAY-nee-uh) is the recurrent inability to resist urges to steal items that you generally don't
    really need and that usually have little value. Kleptomania is a rare but serious mental health disorder that can
    cause much emotional pain to you and your loved ones if not treated.
</p>
<p>
    Kleptomania is a type of impulse control disorder — a disorder that's characterized by problems with emotional or
    behavioral self-control. If you have an impulse control disorder, you have difficulty resisting the temptation or
    drive to perform an act that's excessive or harmful to you or someone else.
</p>
<p>
    Many people with kleptomania live lives of secret shame because they're afraid to seek mental health treatment.
    Although there's no cure for kleptomania, treatment with medication or talk therapy (psychotherapy) may help to end
    the cycle of compulsive stealing.
</p>
<strong> Symptoms </strong>
Kleptomania symptoms may include:
<ul>
    <li>
        Inability to resist powerful urges to steal items that you don't need

    </li>
</ul>
<li> Feeling increased tension, anxiety or arousal leading up to the theft</li>
<p> Feeling pleasure, relief or gratification while stealing
    Feeling terrible guilt, remorse, self-loathing, shame or fear of arrest after the theft
    Return of the urges and a repetition of the kleptomania cycle
    Features
    People with kleptomania typically exhibit these features or characteristics:
</p>
<p>
    Unlike typical shoplifters, people with kleptomania don't compulsively steal for personal gain, on a dare, for
    revenge
    or out of rebellion. They steal simply because the urge is so powerful that they can't resist it.
    Episodes of kleptomania generally occur spontaneously, usually without planning and without help or collaboration
    from
    another person.
    Most people with kleptomania steal from public places, such as stores and supermarkets. Some may steal from friends
    or
    acquaintances, such as at a party.
    Often, the stolen items have no value to the person with kleptomania, and the person can afford to buy them.
    The stolen items are usually stashed away, never to be used. Items may also be donated, given away to family or
    friends,
    or even secretly returned to the place from which they were stolen.
    Urges to steal may come and go or may occur with greater or lesser intensity over the course of time.
</p>
<p> <strong>
    Risk factors </strong>
    Kleptomania is considered uncommon. However, some people with kleptomania may never seek treatment, or they're
    simply jailed after repeated thefts, so some cases of kleptomania may never be diagnosed. Kleptomania often begins
    during the teen years or in young adulthood, but can start in adulthood or later. About two-thirds of people with
    known kleptomania are women.

</p>
<p>
    <strong>
        Kleptomania risk factors may include:

    </strong> Family history.: Having a first-degree relative, such as a parent or sibling, with kleptomania, obsessive-compulsive
    disorder, or an alcohol or other substance use disorder may increase the risk of kleptomania.
    Having another mental illness. People with kleptomania often have another mental illness, such as bipolar disorder,
    anxiety disorder, an eating disorder, substance use disorder or a personality disorder. </p>
    <p>   <strong>Complications</strong> 
    Left untreated, kleptomania can result in severe emotional, family, work, legal and financial problems. For example,
    you know stealing is wrong but you feel powerless to resist the impulse, so you may be wracked by guilt, shame,
    self-loathing and humiliation. And you may be arrested for stealing. You may otherwise lead a moral, upstanding life
    and be confused and upset by your compulsive stealing.
</p>
<p>
    Other complications and conditions associated with kleptomania may include:

    Other impulse-control disorders, such as compulsive gambling or shopping
    Alcohol and substance misuse
    Personality disorders
    Eating disorders
    Depression
    Bipolar disorder
    Anxiety
    Suicidal thoughts, suicide attempts and suicide
    Prevention
    Because the cause of kleptomania isn't clear, it's not yet known how to prevent it with any certainty. Getting
    treatment as soon as compulsive stealing begins may help prevent kleptomania from becoming worse and prevent some of
    the negative consequences.

</p>
<p>
    ther complications and conditions associated with kleptomania may include:

    Other impulse-control disorders, such as compulsive gambling or shopping
    Alcohol and substance misuse
    Personality disorders
    Eating disorders
    Depression
    Bipolar disorder
    Anxiety
    Suicidal thoughts, suicide attempts and suicide
</p>
<strong>
    References
</strong>
<ul> <li>
Kleptomania. In: Diagnostic and Statistical Manual of Mental Disorders DSM-5.
 5th ed. Arlington, Va.: American
Psychiatric Association; 2013. http://dsm.psychiatryonline.org. Accessed Sept. 15, 2017.</li>
<li>
Grant JE, et al. Kleptomania. In: Gabbard's Treatments of Psychiatric Disorders. 5th ed. Arlington, Va.: American
Psychiatric Association; 2014. http://psychiatryonline.org/doi/full/10.1176/appi.books.9781585625048.gg45. Accessed
Sept. 16, 2017.</li>
<li>
Hales RE, et al. Disruptive, impulse-control, and conduct disorders. In: The American Psychiatric Publishing Textbook of
Psychiatry. 6th ed. Washington, D.C.: American Psychiatric Publishing; 2014. http://psychiatryonline.org. Accessed Sept.
16, 2017.</li>
<li>
Kin HS, et al. Kleptomania and co-morbid addictive disorders. Psychiatry Research. 2017;250:35.</li>
<li>
Palmer BA (expert opinion). Mayo Clinic, Rochester, Minn. Sept. 21, 2017. </li>
</ul>