<div class="row m-1">

    <!-- OD HERE -->
    <div class="col-md-4 ">
        <div class="col-md-1 col-sm-1 ">
            <label class="">OD
                <!-- {{cornealtopographyodinterpretation}} -->
            </label>
        </div>
        <div class="col-md-10 small">
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="anteriorint_od_tick "
                    id="anteriorint_od_tickok" ng-value="true"
                    ng-init="anteriorint_od_tick =true"
                    ng-model="anteriorint_od_tick" />
                <label class="form-check-label" for="anteriorint_od_tickok">Normal</label>
            </div>

            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="anteriorint_od_tick "
                    id="anteriorint_od_tickno" ng-value="false"
                    ng-model="anteriorint_od_tick " />
                <label class="form-check-label" for="anteriorint_od_tickno">Abnormal

                </label>
            </div>
        </div>


        <!-- ng-show="cornealtopographyodinterpretation ==0" -->

        <div class="col-md-12 mt-2 " ng-show="!anteriorint_od_tick">

            <textarea class="form-control" ng-model="anterior_od_text"
                placeholder="Specify...."> </textarea>

        </div>


    </div>

    <!-- OS HERE -->
    <div class="col-md-4 ">
        <div class="col-md-1 col-sm-1 ">
            <label class="">OS</label>
        </div>
        <div class="col-md-10 small">
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="anteriorint_os_tick"
                    id="anteriorint_os_tickok" ng-value="true"
                    ng-init="anteriorint_os_tick=true"
                    ng-model="anteriorint_os_tick" />
                <label class="form-check-label" for="anteriorint_os_tickok">Normal</label>
            </div>

            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="anteriorint_os_tick"
                    id="anteriorint_os_tickno" ng-value="false"
                    ng-model="anteriorint_os_tick" />
                <label class="form-check-label" for="anteriorint_os_tickno">Abnormal

                </label>
            </div>
        </div>


        <!-- ng-show="cornealtopographyosinterpretation ==0" -->

        <div class="col-md-12 mt-2 " ng-show="!anteriorint_os_tick">

            <textarea class="form-control" ng-model="anteriorint_os_text"
                placeholder="Specify...."> </textarea>

        </div>


    </div>

</div>